<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <link rel="icon" href="bst.jpeg" type="image/png">
    <title>Upload PDF</title>
</head>
<body>
  <pre><img src="logo2.jpg" alt="">  <h1> BENI-SUEF TECHNOLOGICAL UNIVERSITY </h1></pre>
    <div class="card">
      <p class="heading">
        Upload PDF to Generate Questions
      </p>

      <div class="input-div">
        <input class="input" name="file" type="file">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon"><polyline points="16 16 12 12 8 16"></polyline><line y2="21" x2="12" y1="12" x1="12"></line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg>
      </div>   
    </div>
    
    <button type="submit" value="Upload"> UPLOAD</button>


 

 </body>
</html>


